/* MARGINS */

.margin { margin: 10px }
.margin-y { margin-top: 10px; margin-bottom: 10px }
.margin-x { margin-left: 10px; margin-right: 10px }
.margin-top { margin-top: 10px }
.margin-bottom { margin-bottom: 10px }
.margin-right { margin-right: 10px }
.margin-left { margin-left: 10px }

.margin-small { margin: 30px }
.margin-y-small { margin-top: 30px; margin-bottom: 30px }
.margin-x-small { margin-left: 30px; margin-right: 30px }
.margin-top-small { margin-top: 30px }
.margin-bottom-small { margin-bottom: 30px }

.margin-medium { margin: 50px }
.margin-y-medium { margin-top: 50px; margin-bottom: 50px }
.margin-x-medium { margin-left: 50px; margin-right: 50px }
.margin-top-medium { margin-top: 50px }
.margin-bottom-medium { margin-bottom: 50px }

.margin-big { margin: 100px }
.margin-y-big { margin-top: 100px; margin-bottom: 100px }
.margin-x-big { margin-left: 100px; margin-right: 100px }
.margin-top-big { margin-top: 100px }
.margin-bottom-big { margin-bottom: 100px }

.margin-auto { margin: auto }
.margin-x-auto { margin-left: auto; margin-right: auto;}
.margin-y-auto { margin-top: auto; margin-bottom: auto;}
.margin-top-auto { margin-top: auto }
.margin-bottom-auto { margin-bottom: auto }

.no-margin { margin: 0 }
