.text-center { text-align: center}
.text-left { text-align: left}
.text-right { text-align: right}
.text-justify { text-align: justify}

.small { font-size: .8rem }
.normal { font-size: 1rem }
.medium { font-size: 1.5rem }
.big { font-size: 2rem }
.extra { font-size: 4rem }

.size-8 { font-size: 8px }
.size-9 { font-size: 9px }
.size-11 { font-size: 11px }
.size-12 { font-size: 12px }
.size-14 { font-size: 14px }
.size-16 { font-size: 16px }
.size-20 { font-size: 20px }
.size-22 { font-size: 22px }
.size-24 { font-size: 24px }
.size-26 { font-size: 26px }
.size-28 { font-size: 28px }
.size-30 { font-size: 30px }
.size-32 { font-size: 32px }
.size-34 { font-size: 34px }
.size-36 { font-size: 36px }
.size-38 { font-size: 38px }
.size-40 { font-size: 40px }
.size-42 { font-size: 42px }
.size-44 { font-size: 44px }
.size-46 { font-size: 46px }
.size-48 { font-size: 48px }
.size-50 { font-size: 24px }

.spaced { letter-spacing: 2px }
.sparse { letter-spacing: 4px }

.highlight { color: var(--highlight) }
.inline-highlight-dark {
  color: #fff;
  background-color: var(--background-color);
  padding: 3px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: 2px;
}

.black { color: black }
.white { color: white }
.success { color: var(--success) }
.failure { color: var(--failure) }

.underlined, .underline { text-decoration: underline }

.no-decoration{
  list-style: none;
  text-decoration: none;
}

/* FONT-WEIGHT */

.strong { font-weight: 600 }
.bold { font-weight: bold }
.light { font-weight: lighter }